@{
    ViewBag.Title = "Upload";
}
@section scripts{
    <!--App script--to be packed into bundle-->
    <!--base app structure code-->
    @Scripts.Render("~/bundles/appBase")
    <!--Custom app code-->
    @Scripts.Render("~/bundles/uploadApp")
    <!--Start up code-->
    <script type="text/javascript">
        $(function () {
            new ESRGC.App();
        });
    </script>
}
@section header{
    <h3>@ViewBag.Title <i class="icon-upload"></i>
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("index", "Home")">
                Home</a><span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
<!--Content-->
<div class="row-fluid">
    <div class="well span12">
        <h4>Instructions</h4>
        <ol>
            <li>
                Click "Browse" to attach a file on your local storage for upload. 
                Note that you have to select an <strong>Excel or CSV</strong> file (.xls,.xlsx, or.csv).
                You can not proceed to the next step if the file format is not Excel or CSV format.
            </li>
            <li>Verify the file name shown in green box. If not correct go back to step 1.</li>
            <li>
                Click "Upload" to upload the file to server.
            </li>
        </ol>
    </div>
</div>
<div class="row-fluid">
    <div class="well span12">
        <h4>Upload data</h4>
        <form action="@Url.Action("UploadFile")" method="post" class="form-horizontal" enctype="multipart/form-data">
        @Html.ValidationSummary(true)
        
        <div class="control-group">
            <label class="control-label">
                Data file</label>
            <div class="controls">
                <div id="uploadBrowse" class="btn btn-success">
                    <div><i class="icon-white icon-folder-open"></i> Browse</div><input type="file" name="dataInput" id="dataInput" />
                </div>
                
                <label class="label label-important">Excel or CSV file formats only (.xlsx, .xls, or .csv)</label>
            </div>
        </div>
        
        <div class="control-group">
            <div class="controls">
                <span class="alert alert-success" id="fileName">
                    No file selected.
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="previewCount" style="display: block;">
                Preview rows</label>
            <div class="controls">
                <select name="previewCount">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="-1">All</option>
                </select>
            </div>
        </div>
        <div class="form-actions">
            <input title="Upload" value="Upload" type="submit" class="btn btn-primary" />
        </div>
        </form>
    </div>
</div>
