@{
    ViewBag.Title = "Help";
}
@section header {
    <h3>@ViewBag.Title <i class="icon-question-sign"></i></h3>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("index", "Home")">
                Home</a><span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>