@using ESRGC.Broadband.ETL.CensusBlock.Domain.Model
@using PagedList.Mvc 
@using PagedList 
@model IEnumerable<Submission>
@{
    ViewBag.Title = "Dashboard";
}

@section header{
    <h3>@ViewBag.Title <i class="icon-tasks"></i></h3>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("index", "Home")">
                Home</a><span class="divider">/</span>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}

<!--Body content-->
<div class="row-fluid">
    <div class="span3">
        @Html.Partial("AdminTaskPanel")
    </div>
    <div class="span9">
        <h3>Submission</h3>
        @Html.PagedListPager(
            Model as IPagedList,
            page => Url.Action("Index", new { page }),
            PagedListRenderOptions.ClassicPlusFirstAndLast
        )
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Provider/User</th>
                    <th>Status</th>
                    <th>Started</th>
                    <th>Progress %</th>
                </tr>
            </thead>
            <tbody>        
            @foreach (var submission in Model) { 
                <tr>
                    <td>@submission.SubmittingUser</td>
                    <td>@submission.Status</td>
                    <td>@submission.SubmissionTimeStarted</td>
                    <td>
                        <div class="progress">
                            <span class="progress-label">@submission.ProgressPercentage %</span>
                            <div class="bar" style="width: @submission.ProgressPercentage%;"></div>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        @Html.PagedListPager(
            Model as IPagedList,
            page => Url.Action("Index", new { page }),
            PagedListRenderOptions.ClassicPlusFirstAndLast
        )
    </div>
</div>