@{
    ViewBag.Title = "Dashboard";
}
@section header{
    <h3>@ViewBag.Title <i class="icon-tasks"></i></h3>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("index", "Home")">Home</a><span class="divider">/</span>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
@section scripts {
    @Scripts.Render("~/bundles/appBase", "~/bundles/dashboardApp")
}
<!--Body content-->
<div class="row-fluid">
    <div class="span3">
        @Html.Partial("AdminTaskPanel")
    </div>
    <div class="span9" id="overview">
        @{ var lastUpdate = ViewBag.lastUpdate as DateTime?; }
        <h4>Overview <small class="pull-right">Last update @lastUpdate.Value.ToShortTimeString()</small></h4>
        <div class="row-fluid">
            <div class="span4">@Html.Action("TicketOverview")</div>
            <div class="span4">@Html.Action("SubmissionOverview")</div>
            <div class="span4">@Html.Action("UserOverview")</div>
        </div>
        <div class="row-fluid">
            @Html.Action("SubmissionInProgress")
        </div>
    </div>
</div>
