@using ESRGC.Broadband.ETL.CensusBlock.Domain.Model
@model Submission
@{
    ViewBag.Title = "Submission Detail";
}

@section header{
    <h3>@ViewBag.Title <i class="icon-folder-close"></i></h3>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("index", "Home")">Home</a><span class="divider">/</span></li>
        <li>
            <a href="@Url.Action("index", "Admin")">Dashboard</a><span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}

<!--Body content-->
<div class="row-fluid">
    <div class="span3">
        @Html.Partial("AdminTaskPanel")
    </div>
    <div class="span9">
        <div class="post">
            <a href="@Url.Action("Submission")" title="Back to submission" class="close"><i class="icon-arrow-left"></i></a>
            <h4><small>Submitted by</small> @Model.SubmittingUser <small>@Html.TimeSpan(Model.LastStatusUpdate)</small></h4>
            
            <ul class="unstyled inline">
                <li>
                    <span class="label">ID</span>
                    <span>@Model.SubmissionID</span>
                </li>
                <li>
                    <span class="label">Ticket</span>
                    <span>@Model.Ticket.Name</span>
                </li>
                <li>
                    <span class="label">Status</span>
                    <span>@Model.Status</span>
                </li>              
                <li>
                    <div class="btn-group">
                        <a class="btn btn-mini btn-success" href="@Url.Action("DownloadData", new { id = Model.SubmissionID })">
                           Download <i class="icon-white icon icon-download"></i>
                        </a>
                    </div>
                </li>
            </ul>
            @{ 
                if(Model.ServiceCensusBlocks != null){
                   var services = Model.ServiceCensusBlocks.Take(20).ToList();
                   <div class="row-fluid">
                        <div class="span12">
                            <table class="table table-condensed">                
                                <caption><h5>Data<small> (showing 20)</small></h5></caption>
                                <thead>
                                    <tr>
                                        <th>Provider Name</th>
                                        <th>DBA Name</th>
                                        <th>Provider Type</th>
                                       @* <th>FCC Registration Number (FRN)</th>
                                        <th>State FIPS</th>
                                        <th>County FIPS</th>
                                        <th>Census Tract</th>
                                        <th>Census Block ID</th>
                                        <th>Full Block ID</th>
                                        <th>Technology of Transmission</th>*@
                                        <th>Max Ad. Download</th>
                                        <th>Max Ad. Upload</th>
                                        <th>Typical Download</th>
                                        <th>Typical Upload</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                               
                                    @foreach (var x in services) { 
                                        <tr>
                                            <td>@x.PROVNAME</td>
                                            <td>@x.DBANAME</td>
                                            <td>@x.Provider_Type</td>
                                           @* <td>@x.FRN</td>
                                            <td>@x.STATEFIPS</td>
                                            <td>@x.COUNTYFIPS</td>
                                            <td>@x.TRACT</td>
                                            <td>@x.BLOCKID</td>
                                            <td>@x.FULLFIPSID</td>
                                            <td>@x.TRANSTECH</td>*@
                                            <td>@x.MAXADDOWN</td>
                                            <td>@x.MAXADUP</td>
                                            <td>@x.TYPICDOWN</td>
                                            <td>@x.TYPICUP</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>