@using ESRGC.Broadband.ETL.CensusBlock.Extension
@using ESRGC.Broadband.ETL.CensusBlock.Domain.Model
@using PagedList.Mvc
@using PagedList
@model IEnumerable<Submission>
@{
    ViewBag.Title = "Submission";
}
@section header{
    <h3>@ViewBag.Title <i class="icon-folder-close"></i></h3>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("index", "Home")">Home</a><span class="divider">/</span></li>
        <li>
            <a href="@Url.Action("index", "Admin")">Dashboard</a><span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
@{ 
    var searchFilters = ViewBag.filters as IDictionary<string, object>;
}
<!--Body content-->
<div class="row-fluid">
    <div class="span3">
        @Html.Partial("AdminTaskPanel")
    </div>
    <div class="span9">
        <div class="panel">
            <h3 class="panel-title">Submission manager </h3>
            <div class="panel-content">
                @Html.Partial("searchFilterPartial")
                <div class="content">
                    @if (Model.Count() > 0) {
                        @Html.PagedListPager(
                    Model as IPagedList,
                    page => Url.SearchFilter("Submission", searchFilters, "page", page.ToString()),
                    PagedListRenderOptions.OnlyShowFivePagesAtATime
                )
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Ticket</th>
                                    <th>Provider/User</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>Time started</th>
                                    <th>Progress %</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var submission in Model) { 
                                    <tr>
                                        <td>
                                            @if (submission.Ticket != null) {
                                                <a href="@Url.SearchFilter("Submission", searchFilters, "ticket", submission.Ticket.Name)">
                                                    @submission.Ticket.Name
                                                </a>
                                            }
                                        </td>
                                        <td>
                                            <a href="@Url.SearchFilter("Submission", searchFilters, "user", submission.SubmittingUser)">
                                                @submission.SubmittingUser
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.SearchFilter("Submission", searchFilters, "status", submission.Status)">
                                                @submission.Status
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.SearchFilter("Submission", searchFilters, "date", submission.SubmissionTimeStarted.Value.ToShortDateString())">
                                                @submission.SubmissionTimeStarted.Value.ToShortDateString()
                                            </a>
                                        </td>
                                        <td>@submission.SubmissionTimeStarted.Value.ToShortTimeString()</td>
                                        <td>
                                            <div class="progress">
                                                <span class="progress-label">@submission.ProgressPercentage %</span>
                                                <div class="bar" style="width: @submission.ProgressPercentage%;">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @if (submission.Status == "Submitted") {
                                                <div class="btn-group">
                                                    <a class="btn btn-mini" title="Detail"><i class="icon-file"></i>
                                                    </a>
                                                    <a class="btn btn-mini" title="Download data"><i class="icon-download-alt">
                                                    </i></a>
                                                    <a class="btn btn-mini btn-danger" title="Delete"><i class="icon-trash icon-white">
                                                    </i></a>
                                                </div>
                                            }
                                            else if (submission.Status == "Initiated") { 
                                                <div class="btn-group">
                                                    <a class="btn btn-mini" title="Detail"><i class="icon-file"></i>
                                                    </a>
                                                    <a class="btn btn-mini btn-danger" title="Delete"><i class="icon-trash icon-white">
                                                    </i></a>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(
                    Model as IPagedList,
                    page => Url.SearchFilter("Submission", searchFilters, "page", page.ToString()),
                    PagedListRenderOptions.OnlyShowFivePagesAtATime
                )
                    }
                    else {
                        <p>There's currently no submission in status <span class="label label-important">@ViewBag.status</span></p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
