@using ESRGC.Broadband.ETL.CensusBlock.Models
@model LoginModel
@{ var username = Model == null ? "" : Model.UserName; }

<form action="@Url.Action("Login", "Account")" class="form-horizontal" method="post">
    @Html.AntiForgeryToken()
    <div class="control-group username">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
            <input type="text" name="username" id="username" placeholder="Username" />
        </div>
    </div>
    <div class="control-group password">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
            <input type="password" name="password" id="password" placeholder="Password" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            @* <label class="checkbox">
                <input type="checkbox" name="rememberMe"/>
                Remember me
            </label>*@
            <button type="submit" data-loading-text="Signing in..." class="btn">
                Sign in</button>
        </div>
    </div>
</form>

@*<form class="form-inline" action="@Url.Action("Login", "Account")" method="post" >
    @Html.AntiForgeryToken()
    <input type="text" class="input-medium" placeholder="Username" title="Username"
        name="Username" id="Username" value="@username">
    <input type="password" class="input-medium" placeholder="Password" title="Password"
        name="Password" id="Password">
    <button type="submit" data-loading-text="Signing in..." class="btn">
        Log in
    </button>
</form>*@
